.itemImage{
  width: 270px;
  height: 330px;
}

.productGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 20px;
}

.item{
  padding: 5px;
  width: 320px;
}

.nombreItem{
  font-size: 18px;
  font-weight: 900;
  padding: 0 0px 0px 15px;
  margin: 0;
}

.precioItem{
  font-size: 15px;
  font-weight: 700;
  padding: 0 0px 5px 15px;
  margin: 0;
}

